html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  color: #5e6d82;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a{
  color: #444;
  text-decoration: none;
}
.table{
  margin: 20px 0;
}
.h1{
  margin: 20px 0;
  font-size: 20px;
}
.h2{
  margin: 20px 0;
  font-size: 18px;
}
.h3{
  margin: 20px 0;
  font-size: 16px;
}
.text-regular{
  font-size: 14px;
}
.text-small{
  font-size: 13px;
}
.text-smaller{
  font-size: 12px;
}
span.el-dropdown-link{
  cursor: pointer!important;
}
.el-dropdown-menu__item{
  font-size: 14px!important;
  line-height: 28px!important;
}
.vue-dropzone.myStyle{
  border:1px solid #bfcbd9!important;
  border-radius: 4px!important;
  color:#97a8be
}
.vue-dropzone.myStyle .dz-preview .dz-error-mark, .vue-dropzone .dz-preview .dz-success-mark{
  width: 54px!important;
  height: 54px!important;
  top: 0!important;
  bottom: 0!important;
  left: 0!important;
  right: 0!important;
  margin: auto!important;
}
.vue-dropzone.myStyle .dz-progress{
  display: none!important;
}
.vue-dropzone.myStyle .dz-preview .dz-remove{
  line-height: 14px!important;
  padding: 5px!important;
  margin: 0 10px!important;
  bottom:0.5em!important;
}
.dropzone .dz-preview .dz-details .dz-size{
  margin-bottom: 0.5em!important;
}
.dropzone .dz-preview .dz-details{
  padding: 1em 0.5em!important;
}
